# ============================================================
# Common dependencies
# ============================================================

numpy
scipy
matplotlib
pandas
pyserial
pyqt5


# ============================================================
# Windows only
# ============================================================
#Example
#pywin32; sys_platform == "win32"


# ============================================================
# macOS only
# ============================================================
#Example
#pyobjc; sys_platform == "darwin"


# ============================================================
# Linux only
# ============================================================

# Example:
# evdev; sys_platform == "linux"